@{
    Layout = "_Layout";
}

<style>

</style>

<!-- Content Body -->
<div class="container" style="padding:0;">
    <div class="row">
        <!-- Left Navigation-->
        <div class="col-sm-4 col-md-3 col-xl-2">
            <nav class="left-nav">
                <!-- Menu Button-->
                <button class="navbar-toggler d-inline d-sm-none" type="button" data-toggle="collapse" data-target=".leftnavbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span> Settings
                </button>
                <center class="d-none d-sm-inline">
                    <h3>Settings</h3>
                    <hr/>
                </center>
                <!-- Links -->
                <div class="leftnavbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Index">
                                <i class="fa-solid fa-gear"></i>
                                General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Roles">
                                <i class="fa-solid fa-id-badge"></i>
                                Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Users">
                                <i class="fa-solid fa-users"></i>
                                Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="Sponsors">
                                <i class="fa-solid fa-rectangle-ad"></i>
                                Sponsors
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Main Content -->
        <div class="col-sm-8 col-md-9 col-xl-10 m-2 m-sm-0">
            @RenderBody()
        </div>
    </div>
</div>
