@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Error 403: Access Denied</h1>

Sorry. You do not have permission to view this resource.