@model ApplicationUser
@{
    ViewData["Title"] = "Account Details";
    var user = Model;
}


<h1 class="bg-info text-white">Account Details</h1>
<div class="text-danger" asp-validation-summary="All"></div>


UserName: @user.UserName <br/>
Email: @user.Email

<form asp-action="Delete" method="post">
    <button type="submit">Delete</button>
</form>