@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Create Role";
}
@model string
  
<div class="container text-white">
    <h1 class="text-white">Create a Role</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
  
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
    <br/>
    <div>
        <a asp-action="Roles">Back to List</a>
    </div>
</div>