@model dynamic
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "General Admin";
    var countRoles = Model.CountRoles;
    var countUsers = Model.CountUsers;
    var countSponsors = Model.CountSponsors;
}

<span class="text-white">
    <h1>General</h1>

    <h2>Overview</h2>
    Roles: @countRoles<br/>
    Users: @countUsers<br/>
    Sponsors: @countSponsors<br/>
</span>