@model HackathonWebApp.Models.Sponsor
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Update Sponsor";
}

<div class="container text-white">
    <h1>Update Sponsor</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateSponsor" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" class="form-control" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tier" class="control-label"></label>
                    <input asp-for="Tier" class="form-control" />
                    <span asp-validation-for="Tier" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WebsiteUrl" class="control-label"></label>
                    <input asp-for="WebsiteUrl" class="form-control" />
                    <span asp-validation-for="WebsiteUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Logo" class="control-label"></label>
                    <input type="hidden" asp-for="Logo" class="form-control" />
                    <img src="@String.Format("data:image/png;base64,{0}", @Model.Logo)" style="height:100px;"/>
                    <input type="file" id="NewLogo" name="NewLogo" class="form-control"/>
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Sponsors">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
