@model IQueryable<ApplicationUser>
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Users";
    var users = Model;
}

<h1 class="text-white">Users</h1>
<table class="table table-sm table-bordered table-bordered text-white" style="background-color:var(--bh-dark-green-gray);">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    @foreach (ApplicationUser user in users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td i-user="@user.Id"></td>
        </tr>
    }
</table>
