@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">
	<!-- Intro -->
	<section class="first-section" style="padding: 5em;">
		<h1 class="osu-orange">Selection</h1>
	</section>
		
	<!-- About -->
	<section class="diagonal-section" style="background-color:#EEE; padding-top:3em;">
		<div class="mx-auto diagonal-section-content">
			<div class="container">
				<div class="row">
					<!-- Explanation-->
					<div class="col-6" style="text-align:left;">
						<h3>Skills Balancing Matrix Explained</h3>
						While reading each submission, we used the "clustering" algorithms in our head to
						come up with categories of repeated skills we saw mentioned (see below) From that, we hope
						we have been able to set up all teams to be as balanced and successful. :)
						<br/>
						<br/>
						We recognize that nothing is perfect, but we are committed to giving it our best.
						<br/>
						<br/>
						<ul>
							<li><b>Unique Skills</b> - Outlier skills that others didn't mention.</li>
							<li><b>Hackathon Exp</b> - Have attended a hackathon befor</li>
							<li><b>Communication</b> - Verbal and presentation skills.</li>
							<li><b>Organization</b> - Project management, people management, teamwork</li>
							<li><b>Coding</b> - Able to use a programming languag</li>
							<li><b>Documentation</b> - Capturing work for the future</li>
							<li><b>Ideation</b> - Creativity, expressive, collaboration</li>
							<li><b>YearX</b> - Current year in their education</li>
						</ul>
					</div>
					<!-- DEI -->
					<div class="col-6" style="text-align:left;"> 
						<h3>Fairness</h3>
						<b>Diversity, Equity, and Inclusion (DEI)</b> are very important to the Hackathon organizers.
						We are firm believers that this is where creative, robust, and great solutions come from.
						And.. more importantly, we also believe this is where people have the most opportunity for growth, happiness, and a sense of fullfillment.
						As such we are committed to transparency for promoting fairness.
						<br/>
						<br/>
						<b>This means:</b><br/>
						<ul>
							<li>Sharing anonymous stats.</li>
							<li>Sharing the decision process.</li>
							<li>Providing feedback to all applicants, not just those that got on a team.</li>
							<li>Openly listening to feedback to improve our process.</li>
						</ul>
					</div>
					<!-- Decision Matrix -->
					<div class="col-12">
						<h3>Skills Balancing Matrix (live<sup style="font-size: 50%;">*</sup>)</h3>
						<iframe style="width:100%; height:650px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyyXUkeKakNgJJqSO-fgackzBwV58S_Titwh_e5aHl1w48rNIg7_pNgHK0R1nCZBU9oFA5k3jz3tAE/pubhtml?gid=957604057&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
						*5 minute delay from Google Forms.
					</div>
					<!-- Registration Stats -->
					<div class="col-12">
						<h3>Registration Stats (live<sup style="font-size: 50%;">*</sup>)</h3>
						<iframe style="width:100%; height:1500px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTyyXUkeKakNgJJqSO-fgackzBwV58S_Titwh_e5aHl1w48rNIg7_pNgHK0R1nCZBU9oFA5k3jz3tAE/pubhtml?gid=1114765437&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
						*5 minute delay from Google Forms.
					</div>

				</div>
			</div>
		</div>
	</section>


</div>
