@{
    ViewBag.Title = "Confirm Account - Email Sent";
}

<div class="container text-white col-sm-6">
    <div class="col-12" style="background-color:var(--bh-dark-green-gray); border:1px solid var(--bh-green); border-radius:10px; padding:15px; 10px">
        <h3>Quick Login</h3>
        <div>You should receive an emailed link shortly that will auto-magically log you in. 🧙</div>
        <br/>
        <ul>
            <li>The login link expires in 24hrs.</li>
            <li>You can use the <a href="/account/login" target="_blank">login</a> page to request another link.</li>
            <li>If no account exists, the request will be ignored.<br/>If needed, please <a href="/account/create" target="_blank">create an account</a>.</li>
        </ul>
    </div>
</div>