@{
    ViewBag.Title = "Confirm Account - Email Sent";
}

<div class="container text-white">
    <h2>@ViewBag.Title</h2>

    No worries. We got you! 😎<br/>
    Please check your email. You should have a confirmation link.🤓<br/>
</div>