@{
    ViewBag.Title = "Confirm Account - Email Sent";
}

<div class="container text-white col-sm-6">
    <h2>Confirm Account</h2>
    <div class="col-12" style="background-color:var(--bh-dark-green-gray); border:1px solid var(--bh-green); border-radius:10px; padding:15px; 10px">
        <h3>Email Sent</h3>
        <div>Please check your email. You should have a confirmation link.🤓</div>
        <br/>
        Please Remember:<br/>
        <ul>
            <li>Your account's email must be confirmed to be considered for an event.</li>
            <li>The verification email expires in 10min.</li>
            <li>You can use the login page to re-request this verification email.</li>
        </ul>
        <div>
            We look forward to hacking away with you soon!<br/>
            ⚙👨‍🚀✈🏛👩‍💻👨‍🏭🩺🦸‍♀️🚀💃🚧🕺
        </div>
    </div>
</div>