@{
    ViewData["Title"] = "Account Removed";
}
 
<div class="container text-white">
    <div class="text-danger" asp-validation-summary="All"></div>
    <h2>@ViewBag.Title</h2>
    ⚠Your account has been deleted. ⚠
    <br/>
    Sorry to see you go!
</div>