@{
    ViewBag.Title = "Reset Email Sent";
}

<div class="container text-white">
    <h2>@ViewBag.Title</h2>

    No worries. We got you! 😎<br/>
    Please check you email. You should have a reset link.🤓<br/>
</div>