@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<style>
    .form-control {
        margin-top: 5px;
    }
</style>

<div class="container text-white">
    <h1 class="text-white">Reset Password</h1>
    <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4">
            <form method="post">
                <div class="form-group">
                    <input asp-for="Code" type="hidden" class="form-control" placeholder="yoda@jedimasters.org"/>
                    Email
                    <input asp-for="Email" class="form-control" placeholder="yoda@jedimasters.org"/>
                    <br/>
                    Password
                    <input asp-for="Password" type="password" class="form-control" placeholder="Choose a new password"/>
                    <input asp-for="ConfirmPassword" type="password"  class="form-control" placeholder="Confirm password"/>
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>

</div>