@{
    ViewBag.Title = "Password Reset Confirmation";
}

<div class="container text-white">
    <h2>@ViewBag.Title</h2>

    You're all set. 😎<br/>
    Let's try signing in again.<br/>
    <a class="" asp-controller="Account" asp-action="Login">Sign In</a>
</div>