@{
    ViewData["Title"] = "Prepare";
}

<!-- Title -->
<section class="first-section text-center" style="padding: 5em;">
	<h1 class="osu-orange">Getting Ready</h1>
</section>

<!-- Suggestions -->
<section class="diagonal-section" style="background-color:white;">
	<div class="mx-auto diagonal-section-content">
		<center><h1>Suggestions</h1></center>
		<div class="container">
			There are <u><b>no prerequisites</b></u> to attend the hackathon, but doing a bit of training can definitley increase your chances of having a fun time!
			<br/>
			<br/>
			<div>
				Here are some ideas:
				<ul>
					<li>Check out the hackathon equipment below. Maybe google/youtube some tutorials.</li>
					<li>Get to know your team BEFORE the first day. Share skills/backgrounds/ideas.</li>
					<li>Get certified to use the tools/equipment in ENDEAVOR.</li>
					<li>Research issues in your field industry. Everything is produced using energy!</li>
					<li>Research issues in the energy industry. (solar, wind, thermal, nuclear, oil, gas, etc.)</li>
				</ul>
			</div>
			<div>
				Also, just a few reminders:
				<ul>
					<li>The challenge is always energy-forward/sustainability/green oriented.</li>
					<li>Your team can be ANY major, not just engineering/science.</li>
					<li>The project can be pure software, hardware, marketing plans, business plans, or policy. There are multiple ways to earn points!</li>
					<li>This is also a networking event to make friends, especially outside your discipline.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

@* ENDEAVOR Certificates *@
<section class="diagonal-section" style="color:white;">
	<div class="diagonal-section-content">
		<center><h1 class="osu-orange">ENDEAVOR Certificates (optional)</h1></center>
		<div class="row" style="padding: 15px;">
			<div class="col-xs-12 col-sm-4">
				<center>
					<a href="https://canvas.okstate.edu/courses/143676/pages/endeavor-safety-orientation-and-quiz">
						<img src="/img/osu-endeavor-safety-training-qr.png" style="width: 50%; max-width: 300px;"/><br/>
						ENDEAVOR Safety Orientation Quiz Link
					</a>
					<br/>
					<br/>
					<img src="/img/osu-endeavor-exterior.jpg" style="width: 100%;"/><br/>
				</center>
			</div>
			<div class="col-sm-8">
				Process - Getting Certified
				<ol>
					<li>Students must have access to the "CEAT ENDEAVOR 2022-23" Canvas page.</li>
					<li>
						If access to Canvas does not show up, then students should enter the following link and join the page.
						<a href="https://canvas.okstate.edu/enroll/38968P">https://canvas.okstate.edu/enroll/38968P</a>
					</li>
					<li>Be sure to select <span class="osu-orange">Enroll in Course</span> on the CEAT ENDEAVOR 2022-23 page.</li>
					<li>Once a student has access to th ENDEAVOR Canvas site, they need to take the <a href="https://canvas.okstate.edu/courses/143676/pages/endeavor-safety-orientation-and-quiz">ENDEAVOR Safety Orientation Quiz.</a> (left QR Code)</li>
					<li>Once the training is complete, the student needs to pick up an ENDEAVOR Safety Orientation card at the ENDEAVOR help desk on the first floor.</li>
				</ol>
				Available Trainings:
				<ul>
					<li>Basic Tools (screwdrivers, sockets, wrenches, etc.)</li>
					<li>Soldering Lab</li>
					<li>Laser Cutter - pending availabilty</li>
					<li>3D Printing - unavailable during hackathon</li>
				</ul>
			</div>
		</div>
	</div>
</section>