@{
    ViewData["Title"] = "Prepare";
}

<!-- Title -->
<section class="first-section text-center" style="padding: 5em;">
	<h1 class="osu-orange">Getting Ready</h1>
</section>

<!-- Suggestions -->
<section class="diagonal-section" style="background-color:white;">
	<div class="mx-auto diagonal-section-content">
		<center><h1>Suggestions</h1></center>
		<div class="container">
			There are <u><b>no prerequisites</b></u> to attend the hackathon, but doing a bit of training can definitley increase your chances of having a fun time!
			<br/>
			<br/>
			<div>
				Here are some ideas:
				<ul>
					<li>Check out the hackathon equipment below. Maybe google/youtube some tutorials.</li>
					<li>Get to know your team BEFORE the first day. Share skills/backgrounds/ideas.</li>
					<li>Get certified to use the tools/equipment in ENDEAVOR.</li>
					<li>Research issues in your field industry. Everything is produced using energy!</li>
					<li>Research issues in the energy industry. (solar, wind, thermal, nuclear, oil, gas, etc.)</li>
				</ul>
			</div>
			<div>
				Also, just a few reminders:
				<ul>
					<li>The challenge is always energy-forward/sustainability/green oriented.</li>
					<li>Your team can be ANY major, not just engineering/science.</li>
					<li>The project can be pure software, hardware, marketing plans, business plans, or policy. There are multiple ways to earn points!</li>
					<li>This is also a networking event to make friends, especially outside your discipline.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
