@{
    ViewData["Title"] = "Prizes";
	HackathonEvent activeEvent = ViewBag.ActiveEvent;
}

<style>
	.faq-bubble {
		margin-bottom: 1em;
	}
	.card {
		border-radius: 50px;
		font-size: small;
		padding: 2.5em;
		text-wrapping: wrap;
	}
	.card i {
		color: var(--bh-green);
		font-size: large;
		margin-bottom: 0.5em;
	}
	.card h4 {
		text-transform: uppercase;
	}
	.card hr {
		margin: 1em;
	}

</style>

<div class="text-center">
	<section class="first-section" style="padding: 5em;">
		<h1 class="osu-orange">Prizes / Swag / Raffles</h1>
	</section>

	@* Winners + Swag *@
	<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:1em;">
		<h2 class="osu-orange">Winners</h2>
	</section>
	<section class="diagonal-section" style="padding:1em 0 1em 0; background-color:white;">
	<div class="mx-auto diagonal-section-content">
		@{
		try {
			@Html.Raw(activeEvent.StaticPageSections["prizes"]["winners"])
		} catch
		{
			<span>Coming soon! 🤓</span>
		}}
	</div>
	</section>

	@* Raffles *@
	<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:1em;">
		<h2 class="osu-orange">Raffles</h2>
	</section>
	<section class="diagonal-section" style="padding:1em 0 1em 0; background-color:white;">
	<div class="mx-auto diagonal-section-content">
		@{
		try {
			@Html.Raw(activeEvent.StaticPageSections["prizes"]["raffles"])
		} catch
		{
			<span>Coming soon! 🤓</span>
		}}
	</div>
	</section>

	@* Scoring Rules *@
	<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:1em;">
		<h2 class="osu-orange">How do we pick the winner?</h2>
	</section>
	<section class="diagonal-section" style="padding:1em 0 1em 0; background-color:white;">
	<div class="mx-auto diagonal-section-content">
	<center>
	<div class="col-12 col-lg-10 col-xl-9">
		In short... we don't. You do! We've set up an awesome crowdsourcing mechanism.<br/>
		Each Judge, Mentor, and Participant get's a role with 2-3 questions.<br/>
		All those questions are combined and rolled up into a final score.
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-4 col-lg-5 col-xl-5">
				<h4>Role Weight</h4>
				<div>Participant: 0.5</div>
				<div>Judges: 0.4</div>
				<div>Mentors 0.1</div>
			</div>
			<div class="col-md-8 col-lg-7 col-xl-7">
				<h4>Possible Points</h4>
				<div>(100pts) Project Basics: 8 Questions</div>
				<div>(50pts) Interdisciplinary Collaboration Bonus: 6 Questions</div>
				<div>(50pts) Upcoming Technologies Bonus: 6 Questions</div>
			</div>
		</div>
	</div>
	</center>
	</div>
	</section>
</div>
