@{
    ViewData["Title"] = "Sponsorship Benefits";
	Dictionary<string, string> pageSections = ViewBag.PageSections;
}

<div class="text-center">
	<!-- Sponsorship Benefits -->
	<section class="first-section" style="padding: 5em;">
		<h1 class="osu-orange">Sponsorship Benefits</h1>
	</section>
	<section class="diagonal-section" style="background-color:white; padding-top:2em;">
	<div class="diagonal-section-content">
	@{
	try {
		@Html.Raw(pageSections["benefits"])
	} catch
	{
		<span>Coming soon! 🤓</span>
	}}
	</div>
	</section>


	<!-- Ways to Support -->
	<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:3em;">
		<h2 class="osu-orange">Ways to Support</h2>
	</section>
	<section class="diagonal-section" style="background-color:white; padding-top:2em;">
	<div class="diagonal-section-content">
	@{
	try {
		@Html.Raw(pageSections["support_examples"])
	} catch
	{
		<span>Coming soon! 🤓</span>
	}}
	</div>
	</section>

	<!-- Why Sponsor -->
	@*<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:3em;">
		<h2 class="osu-orange">Why Sponsor</h2>
	</section>
	<section class="diagonal-section" style="background-color:white; padding-top:2em;">
	<div class="diagonal-section-content">
	<div class="container">
	<div class="row">
		Did you know that hackathons have become the new career fairs? Not only are they quickly replacing
		traditional recruitment, but they are also fostering innovation within the community. Sponsoring
		Hacklahoma will give you direct access to the top, most passionate and talented students in the region.
		With the fast growth of technology, you can count on our members to someday serve your technical
		needs.

		Advertise your brand. Inspire the tech and software development community in Oklahoma with your
		company’s technical expertise.

		Recruit the brightest student developers. Gain access to their resumes and portfolios while building
		relationships with these talented students through networking and mentoring.

		Test and showcase your products and APIs. Get real-time feedback on your tech and have students
		use your product in ways you never thought of.

		Run workshops, tutorials, and talks. Teach students how to use your technology and speak about
		important skills to have in the professional world.

		Develop a larger tech community in Oklahoma. Encourage the enthusiasm for innovation and help
		Oklahoma become a strong leader in technology.


		YOU ARE THE IDEAL SPONSOR!
		Ideal sponsors establish a strong presence with the Hacklahoma community by sending representatives,
		developers, and mentors to the event. This allows Hacklahoma attendees to learn more about your
		company goals and culture in addition to professional opportunities in the tech industry.
		Sponsors can work with us to coordinate workshops, showcase their unique company culture, and find
		ways to challenge our hackers. In fact, our team can help you host an interactive experience, tech-talk,
		or mini-challenge, which are great ways to advertise your company.
		Promote your business with your branding! Our hackers love swag! Sponsors who give out companybranded shirts, pens, stickers, water bottles and more, leave a lasting impression on Hacklahoma
		attendees.
	</div>
	</div>
	</div>
	</section>*@

	<!-- Stats -->
	@*<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:3em;">
		<h2 class="osu-orange">Stats</h2>
	</section>
	<section class="diagonal-section" style="background-color:white; padding-top:2em;">
	<div class="diagonal-section-content">
	<div class="container">
	<div class="row">
		Statistics about our previous attendance. (per year)
		- # attendees
		- # projects
		- # Sponsors
		- Gender
		- College Year
		- Major
		- Expertise
	</div>
	</div>
	</div>
	</section>*@

	<!-- About Our Hackathon -->
	@*<section class="diagonal-section" style="background-color:var(--bh-dark-green); padding:3em;">
		<h2 class="osu-orange">About our Hackathon</h2>
	</section>
	<section class="diagonal-section" style="background-color:white; padding-top:2em;">
	<div class="diagonal-section-content">
		Description of OSU-BH Hackathon.
	</div>
	</section>*@

</div>
