/* Color Codes
-------------------------------------------------- */
:root {
    --bh-dark-green: #05322B;
    --bh-green: #018374;
    --bh-light-green: #02BC94;

    --bh-dark-green-gray: #22302D;
    
    --bh-gray: #949494;
    --bh-light-gray: #D0D0D0;

    --bh-dark-gold: #DB831F;
    --bh-gold: #FDB714;

    --bh-dark-teal: #00A579;
    --bh-teal: #00A6B8;

    --osu-orange: #FE5C00;
}

.osu-orange { color: var(--osu-orange)}

/* General
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    background: var(--bh-dark-green-gray);
}

/* Links */
    a {
      color: var(--bh-light-green);
    }

    a:hover {
      color: var(--osu-orange);
      text-decoration: none;
    }

/* Sections */
    section {
        border: 0px solid red;
    }
    section.first-section {
        padding-top: 1em;
        padding-bottom: 2em;
    }
    section.diagonal-section {
        transform: skewY(-2deg);
        transform-origin: top left;
    }
    section .diagonal-section-content {
        padding: 1em 0 1em 0;
        transform: skewY(2deg);
        -ms-transform: skewY(2deg);
        -webkit-transform: skewY(2deg);
    }

/* Buttons */
    .btn-primary {
      color: #fff;
      background-color: var(--bh-green);
      border-color: var(--bh-light-green);
    }
    .btn-primary:hover {
        color: #fff;
        background-color: var(--bh-teal);
        border-color: var(--bh-dark-teal);
    }

/** Images */
    .img-box {
        display: inline-block;
        border-radius: 2em;
        overflow: hidden;
        margin: 1em;
    }
    .img-box img {
        width:100%;
    }
    .img-box div {
        text-align: center;
        padding: 1em;
    }

/** Person Cards */
    .person-card {
        height: 100%;
        margin-bottom: 1em;
    }

    .person-card img {
        border-top-right-radius: 2em;
        border-top-left-radius: 2em;
        border: 1px solid #eee;
    }

    .person-card div {
        height: auto;
        background: black;
        border-bottom-right-radius: 2em;
        border-bottom-left-radius: 2em;
        padding: 5px;
    }

    .person-card h3 {
        padding: 0.5em;
        margin: 0;
        color: var(--osu-orange)
    }

    .person-card h5 {
        color: var(--bh-green);
    }

    .person-card h6 {
        color: white;
    }

    person-card .social-tags {
        padding-bottom: 0.5em;
        color: var(--osu-orange)
    }

/* Background Particles/Hexagons */
    #particles-js {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -10;
        top: 0;
        left: 0;
        background-color: #22302D;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

/* Header Nav Bar
-------------------------------------------------- */
nav {
    color: var(--bh-light-gray);
}

nav a {
    color: var(--bh-light-gray);
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-toggler {
    border-color: #333;
    background-color: var(--osu-orange);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

@media (max-width: 575px) {
    nav {
        background-color: #00000055;
        text-align: center;
        font-size: x-large;
    }
}

/* Header User Menu
-------------------------------------------------- */
#userMenu {
    margin-left: 0.5em;
    margin-top: 0.4em;
}
#userMenu hr {
    margin: 0.5em;
}
#userMenu .dropdown-toggle {
    background-color: transparent;
    color: var(--bh-light-gray);
}
#userMenu .dropdown-menu {
    background-color: var(--bh-light-gray);
    padding: 0.7em 1em;
    text-align: left;
    font-size: smaller;
}
#userMenu .dropdown-item {
    padding: 0;
}
#userMenu .dropdown-item:hover {
    color: var(--osu-orange);
    background-color: transparent;
}

/* Left Nav Bar
-------------------------------------------------- */
nav.left-nav {
    background-color: var(--bh-dark-green-gray);
    border: 1px solid var(--bh-green);
    border-radius: 1em;
    padding: 1em;
}
nav.left-nav li {
    padding: 3px;
}
nav.left-nav li i {
    padding: 3px;
    min-width: 2em;
    text-align: center;
}

@media (max-width: 575px) {
    nav.left-nav {
        background-color: #00000055;
        text-align: center;
        font-size: x-large;
        border-radius:0;
        border:0;
    }
}

/* Sticky footer styles
-------------------------------------------------- */
footer {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    border-top: 1px solid #e5e5e5;
    padding: 1.2em;
}
footer a {
    color: var(--osu-orange)
}
@media (min-width: 768px) {
    footer {
        font-size: 16px;
    }
}


