@model List<HackathonEvent>
@{
    ViewBag.Title = "Thank You";
}

<div class="container text-white">
    <center>
        <br/>
        <h1>Application Recieved</h1>
        <br/>
        <h3>Thank You</h3>
        🤓👩‍💻👨‍💻🧐<br/>
        Nice application! Awesome stats!<br/>
        We look forward to hacking with you soon!<br/>
        <br/>

        🚧🚧🚧<br/>
        If you are a new user, please remember to <span style="color:var(--osu-orange)">verify your email!</span><br/>
        <span style="color:var(--osu-orange)">Otherwise, we cannot consider your application!</span> 🤷‍♀️😥<br/>
    </center>
</div>
